name: Build and Deploy to K8s

on:
  push:
    branches: [ "main" ]

env:
  # Ganti dengan nama image yang Anda mau (huruf kecil)
  IMAGE_NAME: caliteam
  # Ganti dengan username github Anda
  USERNAME: handesign-web

jobs:
  build-and-push:
    runs-on: self-hosted # Jalan di Server Ubuntu M4 Anda
    permissions:
      contents: read
      packages: write # Izin untuk upload ke GitHub Container Registry

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ghcr.io/${{ env.USERNAME }}/${{ env.IMAGE_NAME }}:latest

      - name: Deploy to MicroK8s
        run: |
          # Ganti kubectl jadi microk8s.kubectl
          microk8s.kubectl apply -f k8s/deployment.yml
          
          # Ganti kubectl jadi microk8s.kubectl
          microk8s.kubectl rollout restart deployment/php-web-app